.wrapper {
  @apply mx-5;

  @screen md {
    @apply max-w-2xl mx-auto;
  }

  & h1 {
    @apply relative;
    @apply font-bold text-2xl text-center uppercase;
    @apply p-5 pt-12 -mx-5;

    @screen md {
      @apply text-3xl;
      @apply p-6 pt-16 mx-0;
      @apply border-b border-solid border-black;
    }

    &::after {
      @apply absolute;
      @apply border-b border-solid border-black;

      content: '';
      right: 0;
      bottom: 0;
      left: 4rem;
      height: 1px;

      @screen md {
        content: none;
      }
    }
  }

  & .shortDescription {
    @apply text-2xl leading-7;
    @apply py-5;
    @apply border-b border-solid border-black;

    @screen md {
      @apply text-3xl leading-9;
      @apply mx-0 py-6;
    }
  }

  & .textBlock {
    @apply mt-12;
    @apply text-lg leading-5;

    @screen md {
      @apply relative;
      @apply -mx-8;
      @apply grid;

      &:nth-child(odd) {
        grid-template-columns: 130px 1fr;
        left: -2rem;

        & .text {
          @apply pl-12;

          &::before {
            left: 1.5rem;
          }
        }
      }

      &:nth-child(even) {
        grid-template-columns: 1fr 130px;
        right: -2rem;

        & .image {
          grid-column: 2 / -1;
        }

        & .text {
          @apply pr-12;

          grid-row: 2;

          &::before {
            right: 1.5rem;
          }
        }
      }
    }

    & h2 {
      @apply font-bold underline uppercase text-center;
      @apply mb-3;

      grid-row: 1;
      grid-column: 1 / -1;

      @screen md {
        @apply mb-6;
      }
    }

    & p:not(:last-child) {
      @apply mb-3;

      @screen md {
        @apply mb-6;
      }
    }

    & .image {
      @apply bg-center bg-cover;
      @apply mb-12;

      &.landscape {
        height: 4.5rem;
      }

      &.portrait {
        @apply hidden;
      }

      @screen md {
        &.landscape {
          @apply hidden;
        }

        &.portrait {
          @apply block;
          @apply h-full;
        }
      }
    }

    &:nth-child(odd) .image {
      box-shadow: 4px 4px 0px theme('colors.neutral');
    }

    &:nth-child(even) .image {
      box-shadow: -4px 4px 0px theme('colors.neutral');
    }

    & .text {
      @screen md {
        @apply relative;

        &::before {
          @apply absolute;
          @apply h-full;
          @apply border-l-4 border-solid border-black;

          content: '';
        }
      }
    }
  }

  & .contact {
    @apply border-t border-solid border-black;
    @apply mt-12 py-6;
    @apply leading-6;

    @screen md {
      @apply pb-20;
      @apply leading-none;

      display: grid;
      align-items: end;
      grid-template-columns: min-content min-content;
      justify-content: center;
    }

    & dt {
      @apply text-base uppercase;

      @screen md {
        @apply text-lg text-right;
        @apply mr-3 pb-1;
      }
    }

    & dd {
      @apply text-2xl font-bold;

      &:not(:last-child) {
        @apply mb-6;
      }

      @screen md {
        @apply text-3xl;

        &:not(:last-child) {
          @apply mb-0;
        }
      }
    }
  }
}
